{% extends 'package/snippets/package_form.html' %}

{% block basic_fields %}
    {% snippet 'project/snippets/project_basic_fields.html', data=data, errors=errors, licenses=c.licenses, groups_available=c.groups_available %}
{% endblock %}

{% block metadata_fields %}
  {% snippet 'project/snippets/project_metadata_fields.html', data=data, errors=errors %}
{% endblock %}

{% set form_style = c.form_style or c.action %}

{% block stages %}
{% endblock %}

{% block save_button_text %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% else %}
    {{ _('Update Dataset') }}
  {% endif %}
{% endblock %}

{% block cancel_button %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block delete_button %}
  {% if form_style == 'edit' and h.check_access('package_delete', {'id': c.pkg_dict.id}) %}
    {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
    {% set locale = h.dump_json({'content': _('Are you sure you want to delete this project?')}) %}
    <a class="btn btn-danger pull-left" href="{% url_for 'project_delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
    {% endif %}
  {% endif %}
{% endblock %}
